*{
    font-family: 'Montserrat', sans-serif;
    color:white;
}

#main-container {
    height:100vh;
    padding-left:20%;
    /*padding-right:330px;*/
}

body{
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#header{
    padding-top:64px;
    height:79px;
}

#header span{
    font-size:32px;
    font-weight:100;
    display: flex;
    align-items: center;
}

.logo__img{
    width:78px;
    height:78px;
    margin-right:11px;
}

.logo__name{
    font-size:40px;
    font-weight:600;
    margin-right:140px;
}

.item{
    padding-right:43px;
}

.item a{
    text-decoration: none;
}

.telephone{
    font-size:24px !important;
}

.telephone::before{
    content:'';
    background-image:url("../img/tel.png");
    width:30px;
    height:30px;
}

/*content*/

.big-text{
    margin-top:140px;
    margin-bottom:0;
    font-size:96px;
    font-weight: bold;
}

.blue-bg::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.5s linear;
    z-index:-1;
    opacity:0;
    background: linear-gradient(106.81deg, #367AD8 31.3%, #00D8FF 67.69%);
    box-shadow: 0px 4px 10px rgba(0, 102, 255, 0.45);
    border-radius: 100px;
}

.blue-bg:hover::before{
    opacity:1;
}

.blue-bg{
    background: linear-gradient(106.81deg, #00D8FF 31.3%, #367AD8 67.69%);
    box-shadow: 0px 4px 10px rgba(0, 102, 255, 0.45);
    border-radius: 100px;
    transition: 1s;
    position: relative;
    z-index: 1;
}

.shop-btn{
    margin-right:40px;
    width:300px;
    height:75px;
    font-size: 40px;
    font-weight:800;
    border:0;
    margin-top:70px;
}

.buy-btn{
    width:140px;
    height:35px;
    font-size: 20px;
    font-weight:800;
    border:0;
    margin-bottom:24px;
    margin-top:24px;
}

.products{
    display: flex;
}

.product:before{
    content:'';
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 150px;
    z-index: -1;
    left:3px;
    border-radius: 0 0 30px 30px;
}

.product{
    margin-left:109px;
    width:250px;
    height:390px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.first{
    background-image: url('../img/baltic.png');
}

.second{
    background-image: url('../img/atlantic.png');
}

.product__text{
    text-align: center;
}

.text__big{
    font-size:40px;
    font-weight:800;
}

.text__small{
    margin-top:10px;
    font-size:20px;
    color:#CDCDCD !important;
}

.mob{
    display:none;
}

.hidden-menu{
    transform: translateX(11241242414%);
    transition: transform 0.5s; 
    position: absolute;
    width: 450px;
height: 700px;
left: 50%;
top: 30px;
z-index: 2;
background: linear-gradient(171.59deg, #00D8FF 4.32%, #367AD8 94.6%);
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 15px 0px 0px 15px;
padding-top:34px;
padding-left:38px;
}
.hidden-menu.active{
    transform: translateX(0) !important;
}

@media screen and (max-width:980px){
    .hidden-menu{
        transform: translateX(101%);
        transition: transform 0.5s; 
        position: absolute;
        width: 450px;
    height: 700px;
    left: 50%;
    top: 30px;
    z-index: 2;
    background: linear-gradient(171.59deg, #00D8FF 4.32%, #367AD8 94.6%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px 0px 0px 15px;
    padding-top:34px;
    padding-left:38px;
    }
    .hidden-menu.active{
        transform: translateX(0) !important;
    }
    .comp{display:none;}
    .mob{
        display:block;
    }
    #main-container{
        padding-left:25px;
        padding-right:0;
    }

    .big-text{
        text-align: center;
        font-size: 90px;
    }

    .item{
        display:none !important; 
    }

    .text-with-button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mob-button{
        margin-bottom:200px;
    }

    .products{
        
    display: flex;
    justify-content: space-around;

    }

    .product{
        margin-left:0;
    }

    .burger-menu{
        margin-left:auto;
        padding-right:25px;
    }

    .burger-menu::before{
        content:'';
        background-image:url('../Vector.png');
        width: 96px;
        height:60px;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 3;
    }

    .logo__name{
        font-size:54px !important;
        padding-left:20px;
    }

    .logo__img{
        width:128px;
        height:128px;
    }

      .item-mob a{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 120px;
        text-decoration: none;
      }

      .telephone-mob a{
        font-size: 38px;
      }

      .first{
        background-size: cover;
        width: 400px;
        height: 600px;
      }

      .second{
        background-size: cover;
        width: 400px;
        height: 600px;
      }

      .product:before{
        height: 237px;
        border-radius: 0 0 45px 45px;
      }

      .text__big{
        font-size:60px;
      }

      .text__small{
        font-size: 30px;
      }

      .buy-btn{
        font-size: 30px;
        margin-top:36px;
        width: 164px;
        height: 63px;
      }

      html, body {
        overflow-x: hidden;
      }
      body {
        position: relative
      }
}

@media screen and (max-width:570px) {
    html, body {
        overflow: hidden;
      }
}